<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seu.kse.dao.AuthorMapper" >
  <resultMap id="BaseResultMap" type="com.seu.kse.bean.Author" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="authorName" property="authorname" jdbcType="VARCHAR" />
    <result column="atype" property="atype" jdbcType="TINYINT" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="publishNum" property="publishNum" jdbcType="INTEGER"/>
    <result column="citationNum" property="citationNum" jdbcType="INTEGER"/>
    <result column="Hindex" property="Hindex" jdbcType="INTEGER"/>
    <result column="Pindex" property="Pindex" jdbcType="DOUBLE"/>
    <result column="researchInterests" property="researchInterests" jdbcType="VARCHAR"/>
    <result column="aminerIndex" property="aminerIndex" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    aid, authorName, atype, organization, url, publishNum, citationNum, Hindex, Pindex, researchInterests, aminerIndex
  </sql>

  <select id="selectAidByAuthorName" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT
    aid
    FROM author
    WHERE  authorName=#{authorname}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from author
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from author
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seu.kse.bean.Author" >
    insert into author (aid, authorName, atype, 
      organization,url,publishNum,citationNum,Hindex,Pindex,researchInterests,aminerIndex)
    values (#{aid,jdbcType=INTEGER}, #{authorname,jdbcType=VARCHAR}, #{atype,jdbcType=TINYINT}, 
      #{organization,jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}, #{publishNum,jdbcType=INTEGER}, #{citationNum,jdbcType=INTEGER}
      , #{Hindex,jdbcType=INTEGER}, #{Pindex,jdbcType=DOUBLE}, #{researchInterests,jdbcType=VARCHAR}, #{aminerIndex,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.seu.kse.bean.Author" >
    insert into author
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="authorname != null" >
        authorName,
      </if>
      <if test="atype != null" >
        atype,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="publishNum != null" >
        publishNum,
      </if>
      <if test="citationNum != null" >
        citationNum,
      </if>
      <if test="Hindex != null" >
        Hindex,
      </if>
      <if test="Pindex != null" >
        Pindex,
      </if>
      <if test="researchInterests != null" >
        researchInterests,
      </if>
      <if test="aminerIndex != null" >
        aminerIndex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="authorname != null" >
        #{authorname,jdbcType=VARCHAR},
      </if>
      <if test="atype != null" >
        #{atype,jdbcType=TINYINT},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="publishNum != null" >
        #{publishNum,jdbcType=INTEGER},
      </if>
      <if test="citationNum != null" >
        #{citationNum,jdbcType=INTEGER},
      </if>
      <if test="Hindex != null" >
        #{Hindex,jdbcType=INTEGER},
      </if>
      <if test="Pindex != null" >
        #{Pindex,jdbcType=DOUBLE},
      </if>
      <if test="researchInterests != null" >
        #{researchInterests,jdbcType=VARCHAR},
      </if>
      <if test="aminerIndex != null" >
        #{aminerIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seu.kse.bean.Author" >
    update author
    <set >
      <if test="authorname != null" >
        authorName = #{authorname,jdbcType=VARCHAR},
      </if>
      <if test="atype != null" >
        atype = #{atype,jdbcType=TINYINT},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seu.kse.bean.Author" >
    update author
    set authorName = #{authorname,jdbcType=VARCHAR},
      atype = #{atype,jdbcType=TINYINT},
      organization = #{organization,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      publishNum = #{publishNum,jdbcType=INTEGER},
      citationNum = #{citationNum,jdbcType=INTEGER},
      Hindex = #{Hindex,jdbcType=INTEGER},
      Pindex = #{Pindex,jdbcType=DOUBLE},
      researchInterests = #{researchInterests,jdbcType=VARCHAR},
      aminerIndex = #{aminerIndex,jdbcType=INTEGER}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>